@import 'tailwindcss';
@import 'sk-clib/style';

@theme {
    --color-primary: #9013d9;
}

@layer base {
    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
    }
}

@layer components {
    .animate-forwards {
        animation-fill-mode: forwards;
    }
}